{% extends 'app/base.html' %}

{% block extrahead %}
{{ form.media }}            <!-- tjera ga da loada sve ono sto mu je potrebno za datepicker (js i ostale fileove ucitane preko pip install) -->
{% endblock extrahead %}

{% block content %}
    <div class="row">   
        <div class="col-md-12">
            {% if action == "create" %}
                <h2 class="text-center">Submit new image</h2>
            {% else %}
                <h2 class="text-center">Edit image</h2>
            {% endif %}
        </div>
    </div>
    <!-- submitat ce post request na isti url i uhvatit ce ga ista ova -->
    <form method="post" accept-charset="utf-8">     <!-- akcija django.contrib.auth.urls koja ce obraditi ovu formu -->
        {% csrf_token %}

        <!-- renderiranje bs4_form.htmla, no buduci da je django template, moramo mu reci sta je form -->
        <!-- jer taj include nema pristup kontekstu da zna tocno sta je form pa mu kazemo -->
        <!-- form u tebi je ovaj form kojem imamo pristup iz konteksta (form=form) -->
        {% include 'includes/bs4_form.html' with form=form %}

        <div class="row">   
            <div class="col-md-8 mx-auto">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </div>
    </form>
{% endblock content %}