{% extends 'app/base.html' %}   <!-- nasljedujemo base.html -->

{% block content %}
  <div class="row">
    <div class="col-md-10">
      <p><a href="{% url 'app:create_image' %}">Submit new image</a></p>
    </div>
  </div>
  {% for image,vote in images_with_votes %}
    <div class="row">
      <div class="col-md-2">
        <img class="app-fit" src="{{image.url}}" alt=""/>
      </div>
      <div class="col-md-10">
        <div class="date">
          <p class="red">
          Published: {{ image.pub_date }};  Comments: {{ image.comment_set.count }};
          <a href="{% url 'app:edit_image' image.id %}">Edit</a> |  <!-- ne zaboravi poslat image_id jer moras znat koju sliku updateas -->
          {% include "includes/delete_image_link.html" with image=image %} <!-- image=image jer koristi image -->
          </p>
        </div>
        {% include "includes/vote_buttons.html" with image=image vote=vote %} <!-- ovdje vote nemamo pa u view trebamo pripremit te podatke -->
        <h2><a href="{% url 'app:detail' image.id %}">{{ image.title }}</a></h2>
        <p>{{ image.description|linebreaksbr }}</p>
      </div>
    </div>
  {% endfor %}
{% endblock %}
